{% extends "global/base.html" %}
{% load static %}

{% block style %}
  <link rel="shortcut icon" href="{% static "LSDash/img/favicon.ico" %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static "global/css/style-base.css" %}">
  <link rel="stylesheet" href="{% static "LSDash/css/collab-edit.css" %}">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock style %}

{% block page-content %}
  <header>
    {% include "global/partials/navbar.html" %}
</header>
  <main>
    <div class="container-top">
      <h1>Editar Usuário</h1>
        <!-- Exibir mensagens de sucesso ou erro -->
      <div class="buttons">
        <a href="{% url 'collabmanage' %}"> <button class="btn-reset" id="btnReset" type="submit">Redefinir</button></a>
        <button class="btn-save" id="btnSave" type="submit">Salvar</button>
      </div>
    </div>

    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if "user_edit" in message.extra_tags %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% endif %}
        {% if error_message %}
            <div class="alert-container" >
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
            {% endif %}
    

        
    {% comment %} <div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="messageModalLabel">Mensagem</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="messageModalBody">
                    <!-- Mensagem será preenchida dinamicamente -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Verifique se há mensagens de alerta para exibir
            $('.alert').each(function() {
                $(this).show();
            });
            
            // Para o botão salvar
            document.getElementById('btnSave').addEventListener('click', function() {
                document.getElementById('collabForm').submit();
            });
        });
        
    </script> {% endcomment %}


    <div class="header_container">
        <div class="search_id_conatiner">
            <div class="search-user-container">
                <form method="GET" action="{% url 'collabmanage' %}" id="userSearchForm">
                    <label for="user_id">COD DO USUARIO</label>
                    <input type="string" id="user_id" value="{{user_id|default:'' }}" name="user_id" placeholder="COD">
                    <button id="id_search_button" type="submit" class="geral-b-color">PESQUISAR</button>
                </form>
                <div class="pop-up-user-list-container">
                    <button id="btnModal" class="button-pop-up geral-b-color" data-toggle="modal" data-target="#userModal">
                        <i class="fas fa-list"></i>Lista de Usuarios
                    </button>
                </div>
            </div>

            

            
            
            <div class="background" id="background"></div>
            <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true" data-backdrop="false">
                <div class="modal-dialog" role="document">
                    <div id="modalContent" class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userModalLabel">Escolha um Usuário</h5>
                        </div>
                        <button id="btnCloseModal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="btn-close" aria-hidden="true">&times;</span>
                        </button>
                        <div class="modal-body">
                            <table class="table">
                                <tbody>
                                    {% for user in users %}
                                    <tr data-user-id="{{user.user_id}}">
                                        <td class="id">{{user.user_id}}</td>
                                        <td>{{user.username}}</td>
                                        <td>
                                            <button class="btn btn-sm btn-secondary float-right select-user-btn geral-b-color">SELECIONAR</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

    <form method="POST" class="form-container" id="collabForm">
        {% csrf_token %}
        <div class="container-form-center">
            <div class="container-form-center-left">
                <div class="input-name">
                    <label for="{{ form.fullname.id_for_label }}">Nome Completo</label>
                    {{ form.fullname }}
                </div>
                <div class="input-user">
                    <label for="{{ form.username.id_for_label }}">Login (Nome de Usuário)</label>
                    {{ form.username }}
                </div>
                <div class="input-email">
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    {{ form.email }}
                </div>
                <button type="button" id="reset-password-button" class="btn-reset-password">Refinir Senha</button>
            </div>
                <div class="container-form-center-right">
                    <div class="top">
                        <section>
                                <div class="title">
                                    <label for="{{ form.tipo_usuario.id_for_label }}">Tipo de Usuário</label>
                                </div>
                                    {% if form.instance.pk %}
                                        {{ form.tipo_usuario }}
                                    {% else %}
                                    {{ form.tipo_usuario }}
                                    {% endif %}
                                {{ form.grupo_acesso }}
                        </section>
                        <section>
                            <div class="title">
                                <label for="{{ form.status.id_for_label }}">Status do usuario</label>
                            </div>
                            {% if form.instance.pk %}
                                        {{ form.status }}
                                {% else %}
                                {{ form.status }}
                                {% endif %}
                        </section>
                    </div>
                    <div class="bottom">
                        <section>
                            <div class="title">
                                <label for="{{ form.paginas.id_for_label }}">Páginas vinculadas</label>
                            </div>
                            <div class="input-select">
                                {{ form.paginas }}
                            </div>
                        </section>
                    </div>
                </div>
        </div>
    
        <div class="container-form-bottom">
            <div class="container-form-bottom-left">
              <h2>Foto do Usuário</h2>
              <div class="content">
                <div class="upload">
                  <i class="fas fa-upload"></i>
                  <div class="buttons-bottom">
                    <button type="submit">Aplicar</button>
                    <button type="submit">Carregar</button>
                  </div>
                </div>
                <div class="photo">
                  <i class="fa-regular fa-circle-user"></i>
                </div>
              </div>
            </div>
        <div class="container-form-bottom-rigth">
            <label for="{{ form.observacoes.id_for_label }}">Observações Sobre o usuário</label>
            {{ form.observacoes }}
        </div>
    
    </form>
  </main>
  <script src="{% static 'LSDash/js/script-collab-mange.js' %}"></script>
  <script src="{% static "LSDash/js/collab-edit.js" %}"></script>

{% endblock %}