{% extends "global/base.html" %}
{% load static %}


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>


</head>
{% block style %}

<link rel="shortcut icon" href="{% static "LSDash/img/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static "LSDash/css/style-index.css" %}">
{% endblock style %}
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" rel="stylesheet">

{% block page-content %}

<div class="overlay-stripes">
  <img src="{% static 'LSDash/img/indexsobreposc.png' %}" alt="imagem de fundo pro index" class="img-fluid">
</div>

<div class="overlay-stripes2">
  <img src="{% static 'LSDash/img/indexsobreposc2.png' %}" alt="imagem de fundo pro index" class="img-fluid">
</div>
<div class="index-content">
  <div class="wellcome-container">

  </div>
  <div class="img-container">
  
  </div>
</div>
{% endblock page-content%}