<div class="form-container">
    <form method="post" class="form-em-si">
        {% csrf_token %}
        {{ form.non_field_errors }}  <!-- Exibe erros globais do formulário -->
        <div style="width: 80%; margin-left: 10%;">
            <label for="{{ form.username.id_for_label }}">E-MAIL</label>
            {{ form.username }}  <!-- Renderiza o campo de email (ainda chamado username no form) -->
            {{ form.username.errors }}  <!-- Exibe erros relacionados ao campo -->
        </div> 
        <div style="width: 80%; margin-left: 10%;">
            <label for="{{ form.password.id_for_label }}">SENHA</label>
            {{ form.password }}  <!-- Renderiza o campo de senha -->
            {{ form.password.errors }}  <!-- Exibe erros relacionados ao campo -->
        </div>
        <div class="esqueceu-a-senha"><a href="">Esqueceu a Senha?</a></div>
        <button class="geral-b-color" type="submit">Login</button>
    </form>
</div>