{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-verification">
        <img src="{% static "LSDash/img/verification.png" %}" alt="">
        <div class="messages">
            <h2>Senha redefinida com sucesso!</h2>
            <p>Sua senha foi alterada. Clique no botão abaixo para ir para a tela de login e acessar sua conta.</p>
        </div>
    </div>
    
    <div class="btn-return-login"><a href="{% url 'login' %}">CONTINUAR</a></div>
{% endblock %}
