{% extends "global/cliente-base.html" %} 
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "LSCliente/css/style-cliente-login.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock styles %}

{% block content %}
  <main>
    <img class="linkschool-logo" src="{% static "LSCliente/img/linkschool-logo.png" %}" alt="Powered by LinkSchool">
    <div class="container">
      <div class="container__logo">
        <img src="{% static "LSCliente/img/your-logo.png" %}" alt="Logo da Instituição">
      </div>
      <form class="container__form" method="post">
        {% csrf_token %}
        <div class="container__non-field-errors">
          {{ form.non_field_errors }}
        </div>
        <div class="container__input-email">
          <label for="{{ form.email.id_for_label }}">
            <i class="fa-solid fa-user"></i>
          </label>

          {{ form.email }}

          <div class="container__errorlist">
            {{ form.email.errors }}
          </div>
        </div>
        <div class="container__input-password">
          <label for="{{ form.password.id_for_label }}">
            <i class="fa-solid fa-lock"></i>
          </label>

          {{ form.password }}
          
          <div class="container__errorlist">
            {{ form.password.errors }}
          </div>
        </div>
        <div class="container__forgot-password">
          <a href="{% url 'LSCliente:clientepassword_reset' %}">ESQUECI MINHA SENHA</a>
        </div>
      </div>
      </form>
    <button class="btn-send" type="submit">LOGIN</button>

    {% if messages %}
      <ul class="messages" style="position: absolute; list-style: none; top: 20px; color: green; font-weight: bold;">
        {% for message in messages %}
          <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </main>
  <script src="{% static "LSCliente/js/send.js" %}"></script>
  <script src="{% static "LSCliente/js/time.js" %}"></script>
{% endblock content %}
