{% extends "global/cliente-base.html" %}
{% load static %}

{% block title %}
  <title>{{ tenant_name }} - Home</title>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static "LSCliente/css/style-index.css" %}">
  <link rel="stylesheet" href="{% static "global/css/cliente-navbar.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
{% endblock styles %}

{% block content %}
  {% include "global/partials/cliente_navbar.html" %}
{% endblock %}