* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  background-image: url(../img/background-transparent.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.navbar {
  background: linear-gradient(to bottom, #0fc9B0, #048089);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 100%;
  padding-top: 20px;
}
.navbar img {
  width: 150px;
}