{% load static %}
<div class="navbar" id="dropdownMenu">
  <!-- Logo -->
  <div class="logo">
    <a href="{% url 'home' %}">
      <img src="{% static "global/img/navbar-logo.png" %}" alt="Logo da Navbar">
    </a>
  </div>
  <div class="container-main">
    <div class="navbar-itens">
      <!-- Menu -->
      {% for familia, paginas in user.obter_paginas_por_familia.items %}
        <div class="familia-navbar">
          <h5 class="title-navbar-itens">{{ familia }}</h5>
          <ul class="list-itens-navbar">
            {% for pagina in paginas %}
              <li class="navbar__link">
                <img src="{% static "global/img/point-asset.png" %}">
                <a href="/{{ pagina.codigo }}/" class="{% if request.path == '/'|add:pagina.codigo|add:'/' %}active-page{% endif %}">{{ pagina.nome }}</a>
              </li>
            {% endfor %}
          </ul>
          <div class="line"></div>
        </div>
      {% endfor %}
    </div>
    <div class="footer">
      {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">
            {% if user.user_img %}
              <img src="{{ user.user_img.url }}" alt="Foto do usuário" class="user-avatar">
            {% else %}
              <i class="fa-regular fa-circle-user"></i>
            {% endif %}
            <p>Logout</p>
          </button>
        </form>
      {% endif %}
    </div>
  </div>
</div>