{% load static %}
<nav class="navbar">
  <a href="#">
    <img src="{% static "global/img/navbar-logo.png" %}" alt="Logo da Navbar">
  </a>
  <ul class="navbar__list">
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="#">Editar Usuário</a>
    </li>
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="#">Cadastrar Usuário</a>
    </li>
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="#">Editar Home</a>
    </li>
  </ul>
</nav>