{% load static %}

<nav class="navbar">
  <a href="{% url 'home' %}">
    <img src="{% static "global/img/navbar-logo.png" %}" alt="Logo da Navbar">
  </a>
  <ul class="navbar__list">
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="{% url 'collabmanage' %}">Editar Usuário</a>
    </li>
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="{% url 'collabregister' %}">Cadastrar Usuário</a>
    </li>
    <li class="navbar__link">
      <img src="{% static "global/img/point-asset.png" %}">
      <a href="{% url 'home' %}">Editar Home</a>
    </li>
  </ul>
  <div class="footer">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-sm btn-logout exit-b-color">Sair</button>
    </form>
    {% endif %}
    
</div>
</nav>

<style>
  .footer {
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 5%;
    margin-right: 4%;

}
.footer button{
  width: 300%;
  height: 30px;
  background-color: rgb(160, 125, 9);
  border-radius: 30px;
  border: 0;
  margin-right: 10px;
  cursor: pointer;
}


</style>