{% extends "global/cliente-base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "LSCliente/css/style-password-reset-email-enviado.css" %}">
{% endblock styles %}

{% block content %}
  <main>
    <img class="linkschool-logo" src="{% static "LSCliente/img/linkschool-logo.png" %}" alt="Powered by LinkSchool">
    <div class="container">
      <img src="{% static "LSCliente/img/verification.png" %}" alt="Imagem de sucesso!">
      <div class="container__messages">
        <h2>E-mail enviado com sucesso!</h2>
        <p>Enviamos um link para redefinir sua senha. Verifique sua caixa de entrada (e também a pasta de spam)!</p>
      </div>
    </div>
  </main>
{% endblock content %}