{% extends "global/cliente-base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "LSCliente/css/style-password-reset-email-enviado.css" %}">
{% endblock styles %}

{% block content %}
  <img class="logo" src="{% static "LSCliente/img/logo-linkschool.png" %}" alt="Feito por LinkSchool">
  <div class="container">
    <img src="{% static "LSCliente/img/verification.png" %}" alt="Imagem de sucesso!">
    <div class="messages">
      <h2>E-mail enviado com sucesso!</h2>
      <p>Enviamos um link para redefinir sua senha. Verifique sua caixa de entrada (e também a pasta de spam)!</p>
    </div>
  </div>
{% endblock content %}