{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <form id="form" method="post">
    {% csrf_token %}
    <div>
      <h2>Redefina sua senha</h2>

      {% if validlink %}
        <!-- Primeiro campo de senha -->
        <div>
          <label for="id_new_password1"><i class="fa-solid fa-lock"></i></label>
          {{ form.new_password1 }}
        </div>
        {% if form.new_password1.errors %}
          <div>
            {{ form.new_password1.errors }}
          </div>
        {% endif %}

        <!-- Segundo campo de senha -->
        <div>
          <label for="id_new_password2"><i class="fa-solid fa-lock"></i></label>
          {{ form.new_password2 }}
        </div>
        {% if form.new_password2.errors %}
          <div>
            {{ form.new_password2.errors }}
          </div>
        {% endif %}

        <!-- Dica para o usuário -->
        <p>APÓS A CONFIRMAÇÃO DA REDEFINIÇÃO DA SENHA, VOCÊ SERÁ REDIRECIONADO PARA A TELA DE LOGIN NOVAMENTE!</p>

        <button type="submit">Redefinir senha</button>
      {% else %}
        <p>O link de redefinição de senha é inválido, possivelmente porque já foi usado. Por favor, solicite uma nova redefinição de senha.</p>
        <a href="{% url 'LSCliente:clientepassword_reset' %}">Solicitar nova redefinição</a>
      {% endif %}
    </div>
  </form>
</body>
</html>