
{% load static %}



  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

  
  <div class="container">
    <form id="formSendEmail" method="post">
      {% csrf_token %}
      <div class="email-container">
        <label for="{{ form.email.id_for_label }}"><i class="fa-solid fa-user"></i></label><br>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <p>UM LINK DE RECUPERAÇÃO SERÁ ENVIADO AO SEU E-MAIL PARA QUE POSSAMOS PROSSEGUIR.</p>
      <button class="btn-send" id="btnSend" type="submit">ENVIAR</button>
    </form>
  </div>
  
  
