{% extends "global/cliente-base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{% static "LSCliente/css/style-password_reset_email_form.css" %}">
{% endblock styles %}

{% block content %}
  <main>
    <img class="logo" src="{% static "LSCliente/img/logo-linkschool.png" %}" alt="Feito por LinkSchool">
    <div class="container">
      <form id="formSendEmail" class="form-send-email" method="post">
        {% csrf_token %}
        <div class="email-container">
          <label for="{{ form.email.id_for_label }}"><i class="fa-solid fa-user"></i></label>
          {{ form.email }}
          {{ form.email.errors }}
        </div>
        <p>UM LINK DE RECUPERAÇÃO SERÁ ENVIADO AO SEU E-MAIL PARA QUE POSSAMOS PROSSEGUIR.</p>
      </form>
    </div>
    <button class="btn-send" id="btnSend" type="submit">ENVIAR</button>
  </main>
{% endblock content %}