{% extends "global/cliente-base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <link rel="stylesheet" href="{% static "LSCliente/css/style-password-reset-email-form.css" %}">
{% endblock styles %}

{% block content %}
  <main>
    <img class="linkschool-logo" src="{% static "LSCliente/img/linkschool-logo.png" %}" alt="Powered by LinkSchool">
    <div class="container">
      <form class="container__form" method="post">
        {% csrf_token %}
        <div class="container__input-email">
          <label for="{{ form.email.id_for_label }}">
            <i class="fa-solid fa-user"></i>
          </label>

          {{ form.email }}

          <div class="container__errorlist">
            {{ form.email.errors }}
          </div>
        </div>
        <p>UM LINK DE RECUPERAÇÃO SERÁ ENVIADO AO SEU E-MAIL PARA QUE POSSAMOS PROSSEGUIR.</p>
      </form>
    </div>
    <button class="btn-send" type="submit">ENVIAR</button>
  </main>
  <script src="{% static "LSCliente/js/password-reset-email-form.js" %}"></script>
{% endblock content %}
