@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --color-light-gray: #c2c2c2;
  --color-dark-gray: #7f7f7f;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.container {
  display: grid;
  padding: 5px;
  grid-template-columns: repeat(2, 1fr);
}
.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.aside h1 {
  color: #c2c2c2;
  font-size: 6em;
}
.aside h1 span {
  color: #7f7f7f;
}
.container-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 10px;
  row-gap: 8px;
  padding: 10px;
  width: 100%;
}
.btn {
  background-color: #ededed;
  display: flex;
  justify-content: center;
  padding: 8px;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  width: 200px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.5);
}
.btn i {
  color: #7f7f7f;
  font-size: 1.2em;
  font-weight: bold;
}
.btn p {
  font-size: 1em;
  font-weight: normal;
}
.width-full {
  grid-column: 1 / -1;
  justify-self: center;
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}
.container__settings-test, .preview {
  border: 1px solid #000000;
  border-radius: 15px;
}
.settings__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  width: 100%;
}
.header__icon {
  display: flex;
  gap: 5px;
  color: #7f7f7f;
}
.header__icon p {
  font-weight: normal;
}
.header__text {
  color: #7f7f7f;
  font-weight: normal;
}
.header__text span {
  font-weight: bold;
}
.form__title-test, .form__matter-test {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.form__title-test span, .form__matter-test span, .form__type-test span {
  color: #7f7f7f;
  font-weight: bold;
}
.form__title-test input, .form__matter-test input {
  background-color: #ededed;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 8px;
  width: 100%;
}
.form__title-test input::placeholder, .form__matter-test input::placeholder {
  color: #7f7f7f;
  font-size: 1.2em;
  font-weight: bold;
}
.form__type-test {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}
.form__type-test__content {
  display: flex;
  align-items: center;
  width: 100%;
}
.form__type-test__content label {
  width: 20%;
  color: #7f7f7f;
  font-size: 0.9em;
  font-weight: bold;
}
.form__type-test__content select {
  background-color: #ededed;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  color: #7f7f7f;
  font-weight: bold;
}
.form__type-test__content option {
  color: #7f7f7f;
  font-weight: bold;
}
.preview {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}
.logo {
  width: 100%;
  text-align: center;
}
.logo img {
  width: 100px;
}
.preview-content__texts {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.background-input {
  background-color: #ededed;
  padding: 5px;
  border-radius: 20px;
  color: #7f7f7f;
  font-size: 1.2em;
}
.accessibility-section {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 8px;
}
.accessibility-section p {
  color: #7f7f7f;
  font-size: 1.2em;
  font-weight: bold;
}
.accessibility-option label {
  color: #c2c2c2;
}






















.teste {
  background-color: red;
}