@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --container-color: #e1e1e1;
  --font-family: "Inter", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-top {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}
.container-top h1 {
  background-color: var(--container-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.8em;
  font-style: italic;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.btn-reset {
  background: var(--container-color);
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.2em;
  font-weight: bold;
}
.btn-save {
  background: linear-gradient(to bottom, #0fc9B0, #048089);
  width: 140px;
  height: 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-family: var(--font-family);
  font-size: 1.2em;
  font-weight: bold;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container-form-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 450px;
  gap: 30px;
}
.container-form-center-left {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 500px;
  height: 80%;
  border-radius: 40px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
.input-name, .input-user, .input-email, .input-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 90%;
  height: 70px;
}
.input-name label, .input-user label, .input-email label, .input-password label {
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.1em;
  cursor: pointer;
}
.input-name input, .input-user input, .input-email input, .input-password input {
  background-color: #9b9fa0;
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: text;
  color: #fff;
  font-family: var(--font-family);
  font-size: 1em;
  padding: 0px 10px;
}
.container-form-center-right {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 500px;
  height: 80%;
  border-radius: 40px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-form-center-right section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40%;
}
.title {
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}
.input-radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
}
.radio-collab, .radio-adm, .radio-active, .radio-deactive {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.1em;
}
.radio-collab label, .radio-adm label, .radio-active label, .radio-deactive label {
  cursor: pointer;
}
.radio-collab, .radio-active {
  accent-color: #01335c;
}
.bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.bottom section {
  width: 100%;
}
.input-select {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.input-select select {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding-left: 15px;
  border: none;
  outline: none;
  width: 80%;
  overflow-x: auto;
  overflow-y: auto;
}
.input-select option {
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.1em;
  font-weight: bold;
  width: 100%;
}
.container-form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  height: 200px;
}
.container-form-bottom-left {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 40%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 40px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.5);
}
.container-form-bottom-left h2 {
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.4em;
  text-align: center;
}
.container-form-bottom-right {
  background-color: var(--container-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 48%;
  height: 170px;
  margin-bottom: 10px;
  border-radius: 40px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, 0.5);
}
.container-form-bottom label {
  color: #01335c;
  font-family: var(--font-family);
  font-size: 1.2em;
  cursor: pointer;
}
.container-form-bottom textarea {
  background-color: #9b9fa0;
  width: 90%;
  height: 100px;
  outline: none;
  border-radius: 30px;
  resize: none;
  color: #fff;
  font-family: var(--font-family);
  font-size: 1.1em;
  cursor: text;
  padding: 5px 20px;
}
.container-form-bottom-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 48%;
}
.content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 150px;
  height: 120px;
}
.buttons-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.buttons-bottom button {
  background: linear-gradient(to bottom, #0fc9B0, #048089);
  width: 65px;
  height: 35px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  font-family: var(--font-family);
  font-size: 0.8em;
  font-weight: bold;
}
.upload i {
  color: #048089;
  font-size: 4em;
}
.photo {
  background-color: #10858e;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 110px;
}
.photo i {
  color: #fff;
  font-size: 6em;
}
.alert-container {
  position: absolute;
  font-family: var(--font-family);
  font-size: 0.8em;
  font-weight: bold;
  width: auto;
  height: 30px;
}
.alert.alert-danger {
  color: #ff0000;
}
.alert.alert-success {
  color: green;
}