* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(../img/background-transparent.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}
.container-top {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  position: relative;
}
.container-top h1 {
  background-color: #fff;
  color: #01335c;
  /* font-family: ; */
  font-size: 1.6em;
  text-align: center;
  width: 380px;
  height: 80px;
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
}
.container-top img {
  width: 200px;
}