body, html{
  height: 100%;
  width: 100%;
}
.page-content{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
  font-family: "Inter", sans-serif;
}
.overlay-stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* acima do fundo, abaixo do conteúdo se necessário */
  }

  
  .overlay-stripes img {
    width: 100%;
    height: 100%;
    
  }
  .overlay-stripes2{
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    margin-left: 0%;
  }
  .overlay-stripes2 img{
    width: 45%;
    height: 40%;
    
  }
  
.index-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin-top: 23%;
}
.wellcome-container{
  width: 50%;
  height: 100%;
  color: #FFFFFF;
}
.title-wellcome{
  font-size: 300%;
}
.subtitle-wellcome{
  margin-top: 2%;
  margin-bottom: 3%;
}
.text-wellcome{
  width: 70%;
}

.img-container{
  width: 50%;
  height: 100%;
  position: relative;
  
}
.img-1{
  position: absolute;
  transition: all 1.5s ease-in-out;
}
.img-1 img{
  width: 80%;
  height: 80%;
  border-radius: 10%;
}
.img-2{
  position: absolute;
  transition: all 1.5s ease-in-out;
}
.img-2 img{
  width: 80%;
  height: 80%;
  border-radius: 10%;
}

/* Posições para o carrossel */
.position-1 {
  bottom: 10%;
  left: 5%;
  right: 8;
  z-index: 3;
}

.position-2 {
  top: 10%;
  
  
}

.img-text{
  color: #FFFFFF;
  position: absolute;
  bottom: 15%;
  left: 10%;
  width: 70%;
  font-style: italic;
  font-size: 200%;
  z-index: 5;
}