body, html{
  height: 100%;
  width: 100%;
}
.page-content{
  display: flex;
  flex-direction: row;
  margin-left: 18%;
}
.overlay-stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* acima do fundo, abaixo do conteúdo se necessário */
  }

  
  .overlay-stripes img {
    width: 100%;
    height: 100%;
    
  }
  .overlay-stripes2{
    position: absolute;
    z-index: -1;
    margin-top: 5%;
    margin-left: 0%;
  }
  .overlay-stripes2 img{
    width: 45%;
    height: 40%;
    
  }
  
.index-content{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin-top: 27%;
}
.wellcome-container{
background-color: purple;
width: 50%;
height: 100%;
}
.img-container{
  background-color: red;
  width: 50%;
  height: 100%;
}