@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Reset básico. */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(../img/background.png);
  background-size: cover;
  background-position: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.form-container {
  background-color: #aec6d9;
  width: 600px;
  height: 370px;
  border-radius: 40px;
  position: relative;
  box-shadow: 3px 12px 20px rgba(0, 0, 0, 0.5);
}
.logo-container {
  background-color: #01335c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.5);
}
.logo {
  background-image: url(../img/logo-login.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 95px;
  height: 80px;
}
.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 100%;
  height: 100%;
  padding-top: 30px;
}
.email-container, .password-container {
  position: relative;
  width: 75%;
  height: 40px;
}
.email-container input, .password-container input {
  background-color: #2f3e6abf;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0px 15px 0px 45px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1em;
}
.email-container input::placeholder, .password-container input::placeholder {
  color: #fff;
  font-weight: bold;
}
.email-container i, .password-container i {
  background-color: #01335c;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 100%;
  position: absolute;
  top: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  color: #fff;
}
.forgot-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 68%;
  margin-top: 35px;
}
.remember {
  display: flex;
  gap: 10px;
}
.remember input {
  accent-color: #01335c;
}
.remember label {
  color: #01335c;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.forgot-password a {
  position: relative;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}
.forgot-password a::after {
  background-color: #fff;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0px;
  height: 2px;
  transition: all 0.5s ease;
}
.forgot-password a:hover::after {
  width: 100%;
}
.btn-send {
  background-color: #aec6d9;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 55px;
  border: none;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  cursor: pointer;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.5);
}
/* Estilização das mensagens de erro no formulário. */
.errorlist {
  color: red;
  font-family: sans-serif;
  font-size: 0.85em;
  font-weight: bold;
  list-style: none;
  margin: 5px 8px;
}