{% load static %}


            <h2>Insira a nova senha</h2>
            
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <label for="{{field.id_for_label}}">{{field.label}}</label>
                <p>{{field}}</p>
                <p>{{field.help_text}}</p>
               <div class="field-error"> <p>{{field.errors}}</p> </div>
            {% endfor %}
            <button class="geral-b-color" type="submit">Trocar</button>
        </form>
