{% load static %}
<head>
  <link rel="stylesheet" href="{% static "LSDash/css/style-password-reset-senha-nova-form.css" %}">
  <link rel="shortcut icon" href="{% static "LSDash/img/favicon.ico" %}" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  <title>{{ title }}</title>
</head>
<body>
  <img class="logo" src="{% static "LSDash/img/logo-powered-by.png" %}" alt="Feito por LinkSchool">
  <div class="container">
    <form id="form" method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="password-container">
          <label for="{{field.id_for_label}}"><i class="fa-solid fa-lock"></i></label>
          {{ field }}
        </div>
      {% endfor %}
    </form>
    <p class="text">APÓS A CONFIRMAÇÃO DA REDEFINIÇÃO DA SENHA, VOCÊ SERÁ REDIRECIONADO PARA A TELA DE LOGIN NOVAMENTE!</p>
  </div>
  <button class="btn-send" id="btnSend" type="submit">Enviar</button>
</body>
<script src="{% static "LSDash/js/password_reset_senha_nova_form.js" %}"></script>