{% extends "global/base.html" %}
{% load static %}

{% block style %}
  <link rel="shortcut icon" href="{% static "LSDash/img/favicon.ico" %}" type="image/x-icon">
{% endblock style %}

{% block page-content %}
  <link rel="stylesheet" href="{% static "LSDash/css/style-password-reset-senha-trocada.css" %}">

  <img class="logo" src="{% static "LSDash/img/logo-powered-by.png" %}" alt="Feito por LinkSchool">
  <div class="container">
    <img src="{% static "LSDash/img/verification.png" %}" alt="Imagem de sucesso!">
    <div class="messages">
      <h2>Senha redefinida com sucesso!</h2>
      <p>Sua senha foi alterada. Clique no botão abaixo para ir para a tela de login e acessar sua conta.</p>
    </div>
  </div>
  <div class="btn-return-login">
    <a href="{% url 'login' %}">CONTINUAR</a>
  </div>
{% endblock %}