
{% extends "global/base.html" %}
{% load static %}


{% block page-content %}
<link rel="shortcut icon" href="{% static "LSDash/img/favicon.ico" %}" type="image/x-icon">
<link rel="stylesheet" href="{% static "LSDash/css/password_reset.css" %}">


    <div class="container">
        <form id="formSendEmail" method="post">
            {% csrf_token %}
        
            <div class="email-container">
                <label for="{{ form.email.id_for_label }}"><i class="fa-solid fa-user"></i></label><br>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <p>UM LINK DE RECUPERAÇÃO SERÁ ENVIADO AO SEU EMAIL PARA QUE POSSAMOS PROSSEGUIR</p>
            <button class="btn-send" id="btnSend" type="submit">ENVIAR</button>
        </form>
    </div>
    <button class="btn-send" id="btnSend" type="submit">ENVIAR</button>
{% endblock %}