{% extends "global/base.html" %}
{% load static %}

{% block page-content %}
  <link rel="stylesheet" href="{% static "LSDash/css/password_reset_email_enviado.css" %}">

  <img class="logo" src="{% static "LSDash/img/copyright.png" %}" alt="Logo da LinkSchool">
  <div class="container">
    <img src="{% static "LSDash/img/verification.png" %}" alt="Imagem de sucesso!">
    <div class="messages">
      <h2>E-mail enviado com sucesso!</h2>
      <p>Enviamos um link para redefinir sua senha. Verifique sua caixa de entrada (e também a pasta de spam)!</p>
    </div>
  </div>    
{% endblock %}